@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 20px;
}

.container {
    box-sizing: border-box;
    background-color: rgba(40, 82, 222, 0.247);
    max-width: 800px;
    border-radius: 40px;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    margin: 50px auto;
    padding: 10px;
}

.form {
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #407BFF;
}

.ilustração {
    width: 300px;
    margin: 15px auto;
}

#QrCodeImg {
    width: 300px;
    margin: 0 auto;
}

.form {
    margin: 0 auto;
    text-align: center;
}

button {
    padding: 1.3em 3em;
    margin: 30px auto;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: block;
}
  
button:hover {
    background-color: #0046CB;
    box-shadow: 0px 15px 20px rgba(4, 5, 20, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
  
button:active {
    transform: translateY(-1px);
}

h1, p {
    color: rgb(24, 22, 22);
}

h1 {
    padding: 15px 0px 8px 0px;
}

p {
    padding: 0px 0px 20px 0px;
}

input {
    width: 50%;
    padding: 10px 15px;
    border-radius: 10px;
    border: 3px solid transparent;
    font-size: 1.125rem;
}

input:focus {
    outline: none;
    border: 3px solid rgba(150, 150, 155, 0.715);
    transition: 0.3s;
}

img {
    padding: 20px 0px;
}


@media (max-width: 600px) {
    .ilustração {
        width: 200px;
    }

    h1 {
        font-size: 1.3rem;
        line-height: 32px;
    }

    input {
        width: 80%;
    }

    #QrCodeImg {
        width: 300px;
    }
}